html {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-info {
    display: block;
}

#form-inscricao {
    display: none;
    width: 90vw;
    height: 60vh;
    max-width: 600px;
    flex-direction: column;
    justify-content: space-evenly;
}

#sobre-camp {
    display: none;
}

#cadastro-finalizado {
    display: none;
}

#nome-escola {
    color: #b16df0;
}

.butao {
    border-color: #762bbb;
    background-color: #762bbb;
}

.butao:hover {
    border-color: white;
    background-color: #762bbb;
}

.img-carrousel {
    display: none;
}

#contador {
    background-color: #762bbb;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#alerta-cadastro {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.507);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}