html {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-info {
    display: block;
}

#form-inscricao {
    display: none;
    width: 90vw;
    height: 60vh;
    max-width: 600px;
    flex-direction: column;
    justify-content: space-evenly;
}

#cadastro-finalizado {
    display: none;
}

#nome-escola {
    color: #b16df0;
}

.butao {
    border-color: #762bbb;
    background-color: #762bbb;
}

.butao:hover {
    border-color: white;
    background-color: #762bbb;
}